{% extends "_layouts/cp" %}
{% set title = "Calendars"|t %}

{% set tabs = {
	<%= modelsName.toLowerCase() %>:    { label: "<%= modelsName %>"|t, url: url('<%= pluginHandle.toLowerCase() %>') },
	<%= sectionsName.toLowerCase() %>: { label: "<%= sectionsName %>"|t, url: url('<%= pluginHandle.toLowerCase() %>/<%= sectionsName.toLowerCase() %>') }
} %}

{% set selectedTab = '<%= sectionsName.toLowerCase() %>' %}


{% set content %}
	<div id="no<%= sectionsName.toLowerCase() %>"{% if <%= sectionsName.toLowerCase() %> %} class="hidden"{% endif %}>
		<p>{{ "No <%= sectionsName.toLowerCase() %> exist yet."|t }}</p>
	</div>

	{% if <%= sectionsName.toLowerCase() %>|length %}
		<table id="<%= sectionsName.toLowerCase() %>" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Handle"|t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for <%= sectionName.toLowerCase() %> in <%= sectionsName.toLowerCase() %> %}
					<tr data-id="{{ <%= sectionName.toLowerCase() %>.id }}" data-name="{{ <%= sectionName.toLowerCase() %>.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('<%= pluginHandle.toLowerCase() %>/<%= sectionsName.toLowerCase() %>/' ~ <%= sectionName.toLowerCase() %>.id) }}">{{ <%= sectionName.toLowerCase() %>.name|t }}</a></th>
						<td data-title="{{ 'Handle'|t }}"><code>{{ <%= sectionName.toLowerCase() %>.handle }}</code></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div id="new<%= sectionName.toLowerCase() %>container" class="buttons">
		<a href="{{ url('<%= pluginHandle.toLowerCase() %>/<%= sectionsName.toLowerCase() %>/new') }}" class="btn submit add icon">{{ "New <%= sectionName.toLowerCase() %>"|t }}</a>
	</div>
{% endset %}


{% set js %}
	var adminTable = new Craft.AdminTable({
		tableSelector: '#<%= sectionsName.toLowerCase() %>',
		noObjectsSelector: '#no<%= sectionsName.toLowerCase() %>',
		newObjectBtnSelector: '#new<%= sectionName.toLowerCase() %>container',
		deleteAction: '<%= pluginHandle.toLowerCase() %>/<%= sectionsName.toLowerCase() %>/delete<%= sectionName %>',
		confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its <%= modelsName.toLowerCase() %>?"|t }}'
	});
{% endset %}
{% includeJs js %}
