{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set <%= sectionName.toLowerCase() %>Handle = <%= sectionName.toLowerCase() %>.handle %}


{% macro dateTimeField(element, attribute, label) %}

  {% import "_includes/forms" as forms %}

  {% set input %}
  	{{ forms.date({
  		id:        attribute,
  		name:      attribute,
  		value:     element.getAttribute(attribute),
  		errors:    element.getErrors(attribute),
  	}) }}

  	{{ forms.time({
  		id:        attribute,
  		name:      attribute,
  		value:     element.getAttribute(attribute),
  		errors:    element.getErrors(attribute),
  	}) }}
  {% endset %}

  {{ forms.field({
  	id:       attribute,
  	label:    label,
  	first:    (attribute == 'startDate'),
  	required: true
  }, input) }}

{% endmacro %}

{% from _self import dateTimeField %}

{% block content %}
	<form id="<%= modelName.toLowerCase() %>-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
		<input type="hidden" name="action" value="<%= pluginHandleLower %>/save<%= modelName %>">
		<input type="hidden" name="redirect" value="<%= pluginHandle.toLowerCase() %>">
		<input type="hidden" name="<%= sectionName.toLowerCase() %>Id" value="{{ <%= sectionName.toLowerCase() %>.id }}">
		{% if <%= modelName.toLowerCase() %>.id %}<input type="hidden" name="<%= modelName.toLowerCase() %>Id" value="{{ <%= modelName.toLowerCase() %>.id }}">{% endif %}
		{% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ <%= modelName.toLowerCase() %>.locale }}">{% endif %}
		{{ getCsrfInput() }}

		{{ forms.textField({
			label: "Title"|t,
			id: 'title',
			name: 'title',
			value: <%= modelName.toLowerCase() %>.title,
			errors: <%= modelName.toLowerCase() %>.getErrors('title'),
			first: true,
			autofocus: true,
			required: true
		}) }}

		{{ dateTimeField(<%= modelName.toLowerCase() %>, 'startDate', "Start Date"|t, true) }}
		{{ dateTimeField(<%= modelName.toLowerCase() %>, 'endDate', "End Date"|t, false) }}

		<div>
			{% for tab in <%= sectionName.toLowerCase() %>.getFieldLayout().getTabs() %}
				<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
					{% include "_includes/fields" with {
						fields: tab.getFields(),
						element: <%= modelName.toLowerCase() %>
					} only %}
				</div>
			{% endfor %}
		</div>

		<div class="buttons">
			<div class="btngroup submit first">
				<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

				<div class="btn submit menubtn"></div>
				<div class="menu">
					<ul>
						<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
						<li><a class="formsubmit" data-redirect="<%= pluginHandle.toLowerCase() %>/{{ <%= sectionName.toLowerCase() %>Handle }}/new">{{ "Save and add another"|t }}</a></li>
					</ul>
				</div>
			</div>

			<input type="button" class="btn formsubmit" value="{{ 'Delete'|t }}" data-action="<%= pluginHandleLower %>/delete<%= modelName %>"
				data-confirm="{{ 'Are you sure you want to delete this <%= modelName.toLowerCase() %>?'|t }}"
				data-redirect="<%= pluginHandle.toLowerCase() %>">
		</div>
	</form>
{% endblock %}
