{% extends "_layouts/elementindex" %}
{% set title = "<%= pluginName %>"|t %}
{% set elementType = '<%= pluginHandle %>_<%= modelName %>' %}

{% set tabs = {
	<%= modelsName.toLowerCase() %>: { label: "<%= modelsName %>"|t, url: url('<%= pluginHandle.toLowerCase() %>') },
	<%= sectionsName.toLowerCase() %>: { label: "<%= sectionsName %>"|t, url: url('<%= pluginHandle.toLowerCase() %>/<%= sectionsName.toLowerCase() %>') }
} %}


{% block sidebar %}
	{% if <%= sectionsName.toLowerCase() %>|length %}
		<div class="buttons">
			{% if <%= sectionsName.toLowerCase() %>|length > 1 %}
				<div class="btn submit menubtn add icon">{{ "New <%= modelName %>"|t }}</div>
				<div class="menu">
					<ul>
						{% for <%= sectionName.toLowerCase() %> in <%= sectionsName.toLowerCase() %> %}
							<li><a href="{{ url('<%= pluginHandle.toLowerCase() %>/'~<%= sectionName.toLowerCase() %>.handle~'/new') }}">{{ <%= sectionName.toLowerCase() %>.name|t }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<a class="btn submit add icon" href="{{ url('<%= pluginHandle.toLowerCase() %>/'~<%= sectionsName.toLowerCase() %>[0].handle~'/new') }}">{{ "New <%= modelName %>"|t }}</a>
			{% endif %}
		</div>
	{% endif %}

	{{ parent() }}
{% endblock %}
